@charset "UTF-8";
@media screen and (min-width:768px) and (max-width:1000px) {
    section#login{
        width: 80vw;
    }

    section#login>div#imagem{
        float: left;
        height: 100%;
        width: 30%;
    }

    section#login>div#formulario{
        float: right;
        width: 70%;
        padding: 0px;
    }

    div#formulario h1{
        font-size: 1.8em;
        padding: 2em 1em 1em 1em;
    }

    div#formulario p{
        font-size: 1.2em;
        text-indent: 1em;
        padding: 1em;
    }

    .campos{
        margin: 1em auto;
        width: 97%;
    }

    .campos input{
        width: calc(100% - 51px);
        height: 30px;
        transform: translateY(-7px);
    }

    div#formulario input[type=submit]{
        margin: 1em auto;
        width: 97%;
    }

    #botao{
        margin: 1em auto;
        width: 97%;
    }
}

@media screen and (min-width:1000px) {
    section#login{
        width: 950px;
    }

    section#login>div#imagem{
        float: right;
        height: 100%;
        width: 50%;
    }

    section#login>div#formulario{
        float: left;
        width: 50%;
        padding: 0px;
    }

    div#formulario h1{
        font-size: 1.8em;
        padding: 2em 1em 1em 1em;
    }

    div#formulario p{
        font-size: 1.2em;
        text-indent: 1em;
        padding: 1em;
    }

    .campos{
        margin: 1em auto;
        width: 97%;
    }

    .campos input{
        width: calc(100% - 51px);
        height: 30px;
        transform: translateY(-7px);
    }

    div#formulario input[type=submit]{
        margin: 1em auto;
        width: 97%;
    }

    #botao{
        margin: 1em auto;
        width: 97%;
    }
}
